
<!DOCTYPE html>
<html lang="en-US">
   <head>
   </head>
   <body>
   <h1>Insertion Results</h1>
	{% if message == 'Song Successfully Inserted!' %}
	<h2 style="color:green;">{{message}}</h2>
	{% elif message == 'ERROR: AlbumID does not exist' %}
	<h2 style="color:red;">Error! The given album ID does not exist. Please return and enter a different album ID.</h2>
	{% elif message == 'ERROR: ArtistID does not exist' %}
	<h2 style="color:red;">Error! The given performer ID does not exist. Please return and enter a different performer ID.</h2>
	{% elif message == 'ERROR: A featured artist ID does not exist' %}
	<h2 style="color:red;">Error! An entered ID in the featured artist list does not exist. Please return and enter existing artists.</h2>
	{% else %}
	<h2 style="color:red;">Error! This ID is already in use for a song. Please return and check if the song already exists or change the id given earlier.</h2>
	{% endif %}
   </body>
</html> 
