
<!DOCTYPE html>
<html lang="en-US">
   <head>
   </head>
   <body>
   <style>
   td {
	width: 150px;
	text-align: center;
	border: 1px solid black;
	padding: 5px;
      }
   </style>
   <h1>Search Results</h1>
   <table>
    <thead>
	<tr>
		<th>Song ID</th>
		<th>Song Title</th>
		<th>Song Genre</th>
		<th>Artist</th>
		<th>Featured Artists</th>
	</tr>
    </thead>
    	<tbody>
		{% for i in range(0, songInfo|length) %}
			<tr>
                <td>{{songInfo[i]['songID']}}</td>
				<td>{{songInfo[i]['songName']}}</td>
				<td>{{songInfo[i]['genre']}}</td>
                <td>{{songInfo[i]['artist']}}</td>
                <td>{{songInfo[i]['featuredIn']}}</td>
			</tr>
		{% endfor %} 
    	</tbody>
   </table>
   </body>
</html> 
