<!DOCTYPE html>
<html lang="en-US">
   <head>
   </head>
   <body>
   <style>
   td {
	width: 150px;
	text-align: center;
	border: 1px solid black;
	padding: 5px;
      }
   </style>
   <h1>Search Results</h1>
   <table>
    <thead>
	<tr>
		<th>Song ID</th>
		<th>Song Title</th>
		<th>Song Genre</th>
		<th>Artist</th>
		<th>Featured Artists</th>
	</tr>
    </thead>
    	<tbody>
		{% for row in data %}
			<tr>
				<td>{{data['songID']}}</td>
				<td>{{data['songTitle']}}</td>
				<td>{{data['genre']}}</td>
				<td>{{data['artist']}}</td>
				<td>{{data['featuredIn']}}</td>
			</tr>
		{% endfor %}
		<!-- <tr>
			<td>{{data[0]['songID']}}</td>
			<td>{{data[0]['songName']}}</td>
			<td>{{data[0]['genre']}}</td>
			<td>{{data[0]['artist']}}</td>
			<td>{{data[0]['featuredIn']}}</td>
		</tr> -->
		<!-- {% for row in data %}
			<tr>
				<td>{{row['songID']}}</td>
				<td>{{row['songTitle']}}</td>
				<td>{{row['genre']}}</td>
				<td>{{row['artist']}}</td>
				<td>{{row['featuredIn']}}</td>
			</tr>
		{% endfor %} -->
		<!--</tr>
		{% for row in data %}
			<tr>
				<td>{{row[0]}}</td>
				<td>{{row[1]}}</td>
				<td>{{row[2]}}</td>
			</tr>
		{% endfor %} -->
    	</tbody>
   </table>
   </body>
</html> 
