<!DOCTYPE html>
<html lang="en-US">
   <head>
   </head>
   <body>
    <h1 title="Insert a Song to the database">Insert Song</h1>
    <h4>Please enter all fields completely before submitting.</h4>
      <form action="" method="post">
        <label for="songId">Song ID:</label><br>
        <input type="text" id="songId" name="songId" title="Enter the song ID of the song you would like to enter"><br><br>
        <label for="songTitle">Song Title:</label><br>
        <input type="text" id="songTitle" name="songTitle" title="Enter the song title of the song you would like to enter"><br><br>
        <label for="genre">Song Genre:</label><br>
        <input type="text" id="genre" name="genre" title="Enter the genre of the song you would like to enter"><br><br>
        <label for="albumId">Album ID:</label><br>
        <input type="text" id="albumId" name="albumId" title="Enter the albumId of the song you would like to enter"><br><br>
        <label for="artistID">Performing Artist ID:</label><br>
        <input type="text" id="artistID" name="artistID" title="Enter the performing artist's ID of the album you would like to enter"><br><br>
        <h4>Please enter for the featured artist(s) the artists' ID. For more than 1 artist, please enter each artist ID separated by a comma. EX: artistID_1,artistID_2</h4>
        <label for="featArtistID">Featured Artist(s) ID:</label><br>
        <input type="text" id="featArtistID" name="featArtistID" title="Enter the featured artist's ID of the song you would like to enter"><br><br>
	     <br><br>
	     <input type="submit">
      </form>
   </body>
</html> 

<!-- Maybe give them the option to return to main menu? -->
