<!DOCTYPE html>
<html lang="en-US">
   <head>
   </head>
   <body>
    <h1 title="Insert an artist, writer, or producer to the database">Insert Artist, Writer, or Producer</h1>
    <h4>Please enter all fields completely before submitting.</h4>
      <form>
        <label for="artistId">Artist, writer, or producer ID:</label><br>
        <input type="text" id="artistId" name="artistId" title="Enter the ID of the artist, writer, or producer of the album you would like to enter"><br><br>
        <label for="nameString">Name:</label><br>
        <input type="text" id="nameString" name="nameString" title="Enter the name of the artist, writer or producer you would like to enter"><br><br>
        <label for="knownAS">Known as:</label><br>
        <input type="text" id="knownAS" name="knownAS" title="Enter the name the artist, writer or producer is known as"><br><br>
      </form>
   </body>
</html> 

<!-- Maybe after this have/give the option to add songs?
I am going to have them enter the writer and producer at this time.-->